<script id='meme-list-template' type='text/x-handlebars-template'>
  Filters:
  <ul class='filter nav'>
    <li data-template-name='all' class='selected'>all</li>
    <li data-template-name='xzibit'>xzibit</li>
    <li data-template-name='morpheus'>morpheus</li>
    <li data-template-name='boromir'>boromir</li>
  </ul>
  <div id='memeList'>
  </div>
</script>

<script id='meme-item-template' type='text/x-handlebars-template'>
  <img src='{{this.image_thumb}}'>
</script>